# Data Manipulation Pandas - Jeopardy Project
## Project Goals

>You will work to write several functions that investigate a dataset of 'Jeopardy!' questions and answers. Filter the dataset for topics that you’re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion.

## Project Requirements
>We’ve provided a csv file containing data about the game show 'Jeopardy!' in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.
>
>Note that in order to make this project as "real-world" as possible, we haven’t modified the data at all — we’re giving it to you exactly how we found it. As a result, this data isn’t as "clean" as the datasets you normally find on Codecademy. More specifically, there’s something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier the rest of the project.

## Load and Clean the dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
jeopardy_data = pd.read_csv('./materials/jeopardy.csv',
                            parse_dates = [' Air Date']
                           )
jeopardy_data.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [3]:
jeopardy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  datetime64[ns]
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       216930 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216928 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 11.6+ MB

### Clean column names
There is a space in front of the names, remove and lower case.

In [4]:
jeopardy_data.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [5]:
jeopardy_data.rename(columns = {'Show Number': 'show_num',
                               ' Air Date': 'air_date',
                               ' Round': 'rounds',
                               ' Category': 'category',
                               ' Value': 'price',
                               ' Question': 'question',
                               ' Answer': 'answer'
                              }, inplace = True)

### Check for duplicates

In [6]:
jeopardy_data.duplicated().value_counts()

False    216930
dtype: int64

In [7]:
jeopardy_data.question.duplicated().value_counts()

False    216124
True        806
Name: question, dtype: int64

In [8]:
jeopardy_data[(jeopardy_data.question.duplicated()) & (jeopardy_data.category == 'NOTHING')]

Empty DataFrame
Columns: [show_num, air_date, rounds, category, price, question, answer]
Index: []

### Clean `price` column
+ Remove `$` and `,` and convert to numeric (float).


+ Check for missing values: replace `'None'` with `0` (I am considering `'None'` as zero dollars, and not as `NaN`)

In [9]:
jeopardy_data.price.sort_values().unique()

array(['$1,000', '$1,020', '$1,100', '$1,111', '$1,183', '$1,200',
       '$1,203', '$1,246', '$1,263', '$1,300', '$1,347', '$1,400',
       '$1,407', '$1,492', '$1,500', '$1,512', '$1,534', '$1,600',
       '$1,700', '$1,777', '$1,800', '$1,801', '$1,809', '$1,810',
       '$1,900', '$10,000', '$10,400', '$10,800', '$100', '$1000',
       '$11,000', '$11,200', '$11,600', '$12,000', '$12,400', '$1200',
       '$13,000', '$13,200', '$13,800', '$14,000', '$14,200', '$16,400',
       '$1600', '$18,000', '$2,000', '$2,001', '$2,021', '$2,100',
       '$2,127', '$2,200', '$2,222', '$2,300', '$2,344', '$2,400',
       '$2,500', '$2,600', '$2,700', '$2,746', '$2,800', '$2,811',
       '$2,900', '$2,990', '$20', '$200', '$2000', '$22', '$250', '$2547',
       '$3,000', '$3,100', '$3,150', '$3,200', '$3,201', '$3,300',
       '$3,389', '$3,400', '$3,499', '$3,500', '$3,599', '$3,600',
       '$3,700', '$3,800', '$3,900', '$3,989', '$300', '$350', '$367',
       '$4,000', '$4,008', '$4,100', '$4,200', '$4,238', '$4,300',
       '$4,400', '$4,500', '$4,600', '$4,637', '$4,700', '$4,800', '$400',
       '$5', '$5,000', '$5,001', '$5,100', '$5,200', '$5,201', '$5,400',
       '$5,401', '$5,500', '$5,600', '$5,700', '$5,800', '$50', '$500',
       '$585', '$6,000', '$6,100', '$6,200', '$6,300', '$6,400', '$6,435',
       '$6,600', '$6,700', '$6,800', '$600', '$601', '$7,000', '$7,200',
       '$7,400', '$7,500', '$7,600', '$7,800', '$700', '$750', '$796',
       '$8,000', '$8,200', '$8,400', '$8,500', '$8,600', '$8,700',
       '$8,800', '$8,917', '$800', '$9,000', '$9,200', '$9,500', '$9,800',
       '$900', 'None'], dtype=object)

In [10]:
jeopardy_data.price.replace('\$(?P<dig1>\d+),?(?P<dig2>\d+)?$','\g<dig1>\g<dig2>', regex = True, inplace = True)
jeopardy_data.price.replace('None', 0, regex = True, inplace = True)

In [11]:
jeopardy_data.price = pd.to_numeric(jeopardy_data.price, downcast='float')
jeopardy_data.price.sort_values().unique()

array([0.000e+00, 5.000e+00, 2.000e+01, 2.200e+01, 5.000e+01, 1.000e+02,
       2.000e+02, 2.500e+02, 3.000e+02, 3.500e+02, 3.670e+02, 4.000e+02,
       5.000e+02, 5.850e+02, 6.000e+02, 6.010e+02, 7.000e+02, 7.500e+02,
       7.960e+02, 8.000e+02, 9.000e+02, 1.000e+03, 1.020e+03, 1.100e+03,
       1.111e+03, 1.183e+03, 1.200e+03, 1.203e+03, 1.246e+03, 1.263e+03,
       1.300e+03, 1.347e+03, 1.400e+03, 1.407e+03, 1.492e+03, 1.500e+03,
       1.512e+03, 1.534e+03, 1.600e+03, 1.700e+03, 1.777e+03, 1.800e+03,
       1.801e+03, 1.809e+03, 1.810e+03, 1.900e+03, 2.000e+03, 2.001e+03,
       2.021e+03, 2.100e+03, 2.127e+03, 2.200e+03, 2.222e+03, 2.300e+03,
       2.344e+03, 2.400e+03, 2.500e+03, 2.547e+03, 2.600e+03, 2.700e+03,
       2.746e+03, 2.800e+03, 2.811e+03, 2.900e+03, 2.990e+03, 3.000e+03,
       3.100e+03, 3.150e+03, 3.200e+03, 3.201e+03, 3.300e+03, 3.389e+03,
       3.400e+03, 3.499e+03, 3.500e+03, 3.599e+03, 3.600e+03, 3.700e+03,
       3.800e+03, 3.900e+03, 3.989e+03, 4.000e+03, 4.008e+03, 4.100e+03,
       4.200e+03, 4.238e+03, 4.300e+03, 4.400e+03, 4.500e+03, 4.600e+03,
       4.637e+03, 4.700e+03, 4.800e+03, 5.000e+03, 5.001e+03, 5.100e+03,
       5.200e+03, 5.201e+03, 5.400e+03, 5.401e+03, 5.500e+03, 5.600e+03,
       5.700e+03, 5.800e+03, 6.000e+03, 6.100e+03, 6.200e+03, 6.300e+03,
       6.400e+03, 6.435e+03, 6.600e+03, 6.700e+03, 6.800e+03, 7.000e+03,
       7.200e+03, 7.400e+03, 7.500e+03, 7.600e+03, 7.800e+03, 8.000e+03,
       8.200e+03, 8.400e+03, 8.500e+03, 8.600e+03, 8.700e+03, 8.800e+03,
       8.917e+03, 9.000e+03, 9.200e+03, 9.500e+03, 9.800e+03, 1.000e+04,
       1.040e+04, 1.080e+04, 1.100e+04, 1.120e+04, 1.160e+04, 1.200e+04,
       1.240e+04, 1.300e+04, 1.320e+04, 1.380e+04, 1.400e+04, 1.420e+04,
       1.640e+04, 1.800e+04], dtype=float32)

### Clean `rounds` column
`rounds` only has five possible values. Convert to dtype "category".

In [12]:
jeopardy_data.rounds.unique()

array(['Jeopardy!', 'Double Jeopardy!', 'Final Jeopardy!', 'Tiebreaker'],
      dtype=object)

In [13]:
jeopardy_data['rounds'] = jeopardy_data['rounds'].astype("category")

### Clean `show_num` column
Read by pd.read_csv() as an integer. It takes a relatively high number of possible values => convert to object

In [14]:
jeopardy_data['show_num'] = jeopardy_data.show_num.astype("object")

In [15]:
jeopardy_data.show_num.describe()

count     216930
unique      3640
top         2941
freq          62
Name: show_num, dtype: int64

There are data from 3640 different shows of Jeopardy

### Clean `category` column
Leave it as object

In [16]:
jeopardy_data.category.describe()

count             216930
unique             27995
top       BEFORE & AFTER
freq                 547
Name: category, dtype: object

### Clean `air_date` column
It seems ok

In [17]:
jeopardy_data.air_date.describe(datetime_is_numeric=True)

count                           216930
mean     2003-03-08 00:06:26.734891648
min                1984-09-10 00:00:00
25%                1999-03-11 00:00:00
50%                2004-02-27 00:00:00
75%                2008-02-06 00:00:00
max                2012-01-27 00:00:00
Name: air_date, dtype: object

### Clean `answer` column
There are a couple of missing values in this column. `pd.read_csv()` loads 'null' as NaN by default. I am keeping it as default when loading and checking the NaN entries to confirm if they are proper `NaN`s (missing values) or if the answer in Jeopardy was 'null'.

In [18]:
jeopardy_data.answer[jeopardy_data.answer.isnull()]

94817     NaN
143297    NaN
Name: answer, dtype: object

In [19]:
jeopardy_data.iloc[143297]

show_num                                                 6177
air_date                                  2011-06-21 00:00:00
rounds                                       Double Jeopardy!
category                                              NOTHING
price                                                   400.0
question    This word for "nothing" precedes "and void" to...
answer                                                    NaN
Name: 143297, dtype: object

In [20]:
jeopardy_data.iloc[94817]

show_num                            4346
air_date             2003-06-23 00:00:00
rounds                         Jeopardy!
category                   GOING "N"SANE
price                              200.0
question    It often precedes "and void"
answer                               NaN
Name: 94817, dtype: object

In both cases the answer was 'null', they are not really missing values.

In [21]:
jeopardy_data.answer.replace(np.nan, 'null', inplace= True)

In [22]:
jeopardy_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   show_num  216930 non-null  object
 1   air_date  216930 non-null  datetime64[ns]
 2   rounds    216930 non-null  category
 3   category  216930 non-null  object
 4   price     216930 non-null  float32
 5   question  216930 non-null  object
 6   answer    216930 non-null  object
dtypes: category(1), datetime64[ns](1), float32(1), object(4)
memory usage: 9.3+ MB

## Question 3-4
>Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings "King" and "England" somewhere in its " Question"

In [23]:
import re

In [24]:
pd.set_option('display.max_colwidth', None)

In [25]:
word = 'King'
#pattern = '\s{word}\s'.format(word = word)
pattern = re.compile(r"\b{word}\b".format(word = word), re.IGNORECASE)
pattern
jeopardy_data.question.str.contains( pattern, regex = True).value_counts()

False    214186
True       2744
Name: question, dtype: int64

The function below searches any lists of strings in a column of the database, and returns only the rows that contains all the strings in the list of strings (case insensitive).

In [26]:
def search_list_strings(dataframe, column_name, words):
    partial_matches = pd.DataFrame()
    for word in words:
    #pattern = '\s{word}\s'.format(word = word)
        pattern = '{word}'.format(word = word)
        partial_matches[word] = dataframe[column_name].str.contains( pattern, case = False, regex = True)

    return dataframe[partial_matches.all(axis = 'columns')]

In [27]:
pd.set_option('display.max_rows', 200)
word_list = ['King', 'England']

king_england = search_list_strings(jeopardy_data, 'question', word_list)
king_england.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 4953 to 216789
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   show_num  152 non-null    object
 1   air_date  152 non-null    datetime64[ns]
 2   rounds    152 non-null    category
 3   category  152 non-null    object
 4   price     152 non-null    float32
 5   question  152 non-null    object
 6   answer    152 non-null    object
dtypes: category(1), datetime64[ns](1), float32(1), object(4)
memory usage: 8.1+ KB

In [28]:
king_england

,show_num,air_date,rounds,category,price,question,answer
4953,3003,1997-09-24,Double Jeopardy!,"""PH""UN WORDS",200.0,"Both England's King George V & FDR put their stamp of approval on this ""King of Hobbies""",Philately (stamp collecting)
6337,3517,1999-12-14,Double Jeopardy!,Y1K,800.0,"In retaliation for Viking raids, this ""Unready"" king of England attacks Norse areas of the Isle of Man",Ethelred
9191,3907,2001-09-04,Double Jeopardy!,WON THE BATTLE,800.0,This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt,Henry V
11710,2903,1997-03-26,Double Jeopardy!,BRITISH MONARCHS,600.0,"This Scotsman, the first Stuart king of England, was called ""The Wisest Fool in Christendom""",James I
13454,4726,2005-03-07,Jeopardy!,A NUMBER FROM 1 TO 10,1000.0,It's the number that followed the last king of England named William,4
14445,1103,1989-05-24,Jeopardy!,FAMOUS QUOTES,300.0,"Nelson said, ""England expects that every man will do"" this & died thanking God he did his",his duty
14912,2832,1996-12-17,Jeopardy!,WORLD HISTORY,100.0,"This country's King Louis IV was nicknamed ""Louis From Overseas"" because he was raised in England",France
16475,5816,2009-12-21,Jeopardy!,THEY WERE CONTEMPORARIES,200.0,There was good kinging in the 800s--Leo the Wise ruled the Byzantine Empire while England had Alfred the this,the Great
18076,3227,1998-09-22,Double Jeopardy!,WORLD HISTORY,1000.0,In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus,Richard the Lionhearted
19104,3322,1999-02-02,Jeopardy!,HISTORIC NAMES,200.0,"Name of 8 kings of England since 1272, it was also General Lee's middle name",Edward
19168,3109,1998-02-19,Jeopardy!,HISTORIC WORLD LEADERS,300.0,"He was the only king of England to have ""The Great"" tacked on to his name",Alfred
21511,4650,2004-11-19,Jeopardy!,"THE ""O.C.""",1000.0,this man and his son ruled England following the execution of King Charles I,Oliver Cromwell
23810,4862,2005-11-01,Jeopardy!,NAME THE YEAR,400.0,William the Conqueror was crowned King of England in Westminster Abbey on Christmas Day in this year,1066
23979,4664,2004-12-09,Double Jeopardy!,MEDIEVAL TIMES,2000.0,"This ""unready"" king of England lost most of his country to Sven Forkbeard, the king of Denmark",Aethelred the Unready
26780,2118,1993-11-17,Double Jeopardy!,THE MIDDLE AGES,1200.0,This king of England was killed by a Norman arrow at the Battle of Hastings,Harold II
27380,2339,1994-11-03,Double Jeopardy!,WORLD HISTORY,1000.0,In 1066 he became the last Saxon king to rule England,Harold II
27555,1799,1992-05-28,Double Jeopardy!,HISTORIC IN-LAWS,600.0,This member of the Medici family was the mother-in-law of England's King Charles I,Marie de Medici
28570,4752,2005-04-12,Double Jeopardy!,KING ME,1600.0,The IV king of this name (following the Norman Conquest) brought the House of York to England's throne,Edward
33174,1333,1990-05-23,Jeopardy!,THE CRUSADES,200.0,This king of England was a leader of the Third Crusade,Richard I (Richard the Lionhearted)
33294,5589,2008-12-18,Jeopardy!,THE BAYEUX TAPESTRY,600.0,"(Sarah of the Clue Crew delivers the clue from the Bayeux Cathedral in France.) Despite taking an oath to assure another succession, Harold is crowned King of England; the tapestry indicated it was <a href=""http://www.j-archive.com/media/2008-12-18_J_08.jpg"" target=""_blank"">Stigant</a>, this archbishop, who performed the ceremony",the Archbishop of Canterbury
35478,6128,2011-04-13,Double Jeopardy!,AN AUTHOR IS BORN,1200.0,"Born in Bedfordshire, England in 1628, he was making ""Progress"" from the start",(John) Bunyan
35869,2951,1997-06-02,Jeopardy!,PEOPLE IN HISTORY,600.0,"Before he became king of England, George VI served in the Royal Navy & fought in the Battle of Jutland during this war",World War I
36360,4786,2005-05-30,Double Jeopardy!,WHERE AM I?,400.0,"(<a href=""http://www.j-archive.com/media/2005-05-30_DJ_26.jpg"" target=""_blank"">Jimmy of the Clue Crew holds a block of cheese</a>.) I'm in this Midwest state famous for making cheddar, which actually originated in a village in England",Wisconsin
37550,3658,2000-06-28,Jeopardy!,THEY NAMED IT FOR ME,300.0,They named a knot for this Duke who was briefly king of England,Duke of Windsor
41148,5925,2010-05-21,Double Jeopardy!,TREATIES,1600.0,"This French king recognized William of Orange as William II, King of England, under the terms of 1697's Treaty of Ryswick",Louis XIV
41357,2751,1996-07-15,Jeopardy!,HISTORIC NAMES,400.0,"England's King Henry VIII had 3 wives named Catherine: Catherine Howard, Catherine of Aragon & this one",Catherine Parr
43122,3937,2001-10-16,Double Jeopardy!,"OH, HENRY!",400.0,The father of England's King Edward VI,Henry VIII
47814,4365,2003-07-18,Double Jeopardy!,POTIONS,2000.0,This steak sauce was created for King George IV of England,A1
49994,5499,2008-07-03,Jeopardy!,REIGN DROPS,1000.0,"Elizabeth I's half-brother, he reigned before her as King of England from 1547 to 1553",Edward VI
51115,3574,2000-03-02,Jeopardy!,ALL THINGS BRITISH,200.0,"(<a href=""http://www.j-archive.com/media/2000-03-02_J_22.jpg"" target=""_blank"">Alex Trebek reads from England.</a>) In 1214 barons fed up with King John met at the abbey whose ruins we see here; the result a year later was this charter",Magna Carta
51565,4264,2003-02-27,Double Jeopardy!,MUSIC APPRECIATION,800.0,"He wrote several anthems, including ""The King Shall Rejoice"", for the coronation of England's King George II",George Frideric Handel
51986,4689,2005-01-13,Double Jeopardy!,19th CENTURY NOTABLES,800.0,"This associate of Marx wrote about ""the condition of the working class in England in 1844""",Engels
52166,5971,2010-07-26,Double Jeopardy!,ON THE BRITISH THRONE,800.0,"While in England in 1760, John Hancock attended the coronation of this king",George III
52184,5971,2010-07-26,Double Jeopardy!,ON THE BRITISH THRONE,2000.0,"(<a href=""http://www.j-archive.com/media/2010-07-26_DJ_10.jpg"" target=""_blank"">Jimmy of the Clue Crew reports from in front of the Bayeux Tapestry.</a>) The tapestry opens in 1064 with this childless king on England's throne; 11th century sources say the <a href=""http://www.j-archive.com/media/2010-07-26_DJ_10.jpg"" target=""_blank"">meeting</a> is about naming his successor",Edward the Confessor
54982,961,1988-11-07,Double Jeopardy!,EUROPEAN HISTORY,800.0,"When England's Queen Anne died, this German became king because he was a great grandson of James I",George I
56600,3533,2000-01-05,Double Jeopardy!,FRENCH HISTORY,600.0,This city known for its 24-hour auto race was the birthplace of England's King Henry II in 1133,Le Mans
57479,4299,2003-04-17,Jeopardy!,FACTS & FIGURES,800.0,He was the last of the 3 men who were king of England during 1066,William the Conqueror
57516,4299,2003-04-17,Double Jeopardy!,"THE ""UN""CATEGORY",2000.0,Famous (& rather insulting) adjective for England's King Ethelred II,"""the Unready"""
58112,739,1987-11-19,Final Jeopardy!,RULERS,0.0,The only name shared by four consecutive kings of England,George (I - IV)
58949,6250,2011-11-18,Double Jeopardy!,ASSUME THE POSITION,2000.0,He became King of England in 1399 after forcing his cousin Richard II from the throne,Henry IV
59221,3710,2000-10-20,Jeopardy!,EUROPEAN HISTORY,500.0,"In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as king of England",William the Orange
59780,2776,1996-09-30,Double Jeopardy!,POTPOURRI,1000.0,"In literature, restoration refers to the period after the return of this king to England's throne in 1660",Charles II
60601,4796,2005-06-13,Double Jeopardy!,CLASSICAL MUSIC,1200.0,"He was working on his 3rd symphony when he died in England in 1934; it premiered in 1998 amid much ""pomp""",(Sir Edward) Elgar
66520,5626,2009-02-09,Jeopardy!,THE FIRST MILLENNIUM A.D.,1000.0,"This king called ""the Great"" beat the Danes in 886 to keep all of England from being conquered",Alfred
69727,2130,1993-12-03,Jeopardy!,1500,500.0,This first Tudor king reigned on the throne of England,Henry VII
69991,5393,2008-02-06,Double Jeopardy!,MISSING,1600.0,"Chronological lists of England's kings are missing 1649-1660, between 2 kings of this name",Charles
70052,4493,2004-03-03,Double Jeopardy!,HANDEL,1600.0,"In 1710 Handel was appointed kapellmeister to the elector of Hanover, this future king of England",George I
71808,5270,2007-07-06,Jeopardy!,WHERE THERE'S A WILLIAM,1000.0,"Number of the William who was England's ""Sailor King"" from 1830 to 1837",IV
72582,2754,1996-07-18,Double Jeopardy!,ROYALTY,400.0,This current king of Jordan received part of his education in England at Harrow & Sandhurst,King Hussein
74235,2757,1996-09-03,Jeopardy!,WORLD HISTORY,200.0,Barons & churchmen drew up this 1215 document to reduce the power of England's King John,The Magna Carta
74611,3153,1998-04-22,Double Jeopardy!,GUYS WHO FOUND THINGS,1000.0,In 1497 this Venetian sailing for England became the first European since the Vikings to reach N. America,John Cabot
74723,5033,2006-06-28,Double Jeopardy!,PULLING RANK,1500.0,"It's the rank of the character singing <a href=""http://www.j-archive.com/media/2006-06-28_DJ_14.mp3"">here</a> <i>""I know the kings of England and I quote the fights historical / From Marathon to Waterloo, in order categorical""</i>",major general
76814,3382,1999-04-27,Final Jeopardy!,ENGLISH HISTORY,0.0,"11th century England had 2 kings with this name, one a Dane & one a Saxon",Harold
77195,3656,2000-06-26,Jeopardy!,JUNE 26,400.0,"He became King of England on June 26, 1483; just over 2 years later he was killed at Bosworth Field",Richard III
78510,3169,1998-05-14,Double Jeopardy!,A LONG TIME AGO,800.0,"Henry II, who succeeded Stephen as king of England in 1154, was the first monarch from this ""house""",Plantagenet
79269,5215,2007-04-20,Double Jeopardy!,BRITISH ROYALTY,400.0,"He called himself ""king of Great Britain"" after gaining England's throne in 1603--he was already king of Scotland",James I
79457,4230,2003-01-10,Double Jeopardy!,CONQUERORS,800.0,"On Christmas Day 1066, he was crowned King of England, 72 days after defeating Harold at the Battle of Hastings",William the Conqueror
80113,5827,2010-01-05,Jeopardy!,"""M"" & ""M""",1000.0,"England's King Charles II was known by this ""jovial"" nickname","""the Merry Monarch"""
80548,3548,2000-01-26,Double Jeopardy!,AROUND THE U.S.A.,1000.0,"This nickname of Virginia came from Charles II ranking it with England, Ireland, France & Scotland","""Old Dominion"""
80794,4267,2003-03-04,Double Jeopardy!,ROYALTY,2000.0,"England's last Lancastrian king, he was imprisoned & murdered in the Tower of London in 1471",Henry VI
80906,3690,2000-09-22,Double Jeopardy!,THE CENTURY IN WHICH...,600.0,England had its last Saxon king,11th century
82525,2251,1994-05-23,Double Jeopardy!,BRITISH HISTORY,1000.0,"The ""rump"" parliament wanted him to be the last king England would ever name",Charles I
84639,1558,1991-05-15,Jeopardy!,FILMS OF THE '90S,200.0,"He went from second banana on ""Roseanne"" to top banana of England in ""King Ralph""",John Goodman
86353,1906,1992-12-14,Double Jeopardy!,HISTORIC EVENTS,400.0,"The taking of England by William in 1066 is known as this ""Conquest""",the Norman
86412,1837,1992-09-08,Double Jeopardy!,ROYALTY,400.0,This country's King Olaf V was born in England & was the grandson of King Edward VII,Norway
86572,2583,1995-11-22,Jeopardy!,19th CENTURY AMERICA,500.0,"During an 1840 speaking tour in England, he persuaded thousands to emigrate to Nauvoo, Illinois",Brigham Young
87388,4710,2005-02-11,Jeopardy!,COMING SOON... HISTORY!,600.0,"<a href=""http://www.j-archive.com/media/2005-02-11_J_10.mp3"">In 1860s England, he would change the rules of pugilism forever... by making them! This summer, Vin Diesel is...</a>",the Marquess of Queensbury
89710,5390,2008-02-01,Double Jeopardy!,"""CAN""NED WORDS",1600.0,This 11th Century King of England also ruled Denmark & Norway during the latter part of his reign,Canute
90084,4871,2005-11-14,Jeopardy!,THAT'S MY ROYAL NICKNAME,400.0,"He was ""the Confessor"" king of England in the 11th century",Edward
92688,5085,2006-10-20,Double Jeopardy!,HAIL TO THE CHIEF,5000.0,"In a 1989 ceremony at Buckingham Palace, the Queen of England made him an honorary knight",Ronald Reagan
94425,3868,2001-05-30,Double Jeopardy!,THE KINGS OF ENGLAND,200.0,From 1714 to 1830 every king of England had this name,George
95019,3662,2000-07-04,Double Jeopardy!,CELEBRATING THE IV,400.0,"Regent for his predecessor from 1811 to 1820, he was king of England on his own from 1820 to 1830",George IV
95375,3381,1999-04-26,Double Jeopardy!,MEDITERRANEAN HISTORY,200.0,"Like England's William I, Aragon's Jaime I won this nickname, in part by taking over Valencia","""The Conqueror"""
101374,4262,2003-02-25,Double Jeopardy!,17th CENTURY DRAMA,1200.0,"""Carolus Stuardus"" by Andreas Gryphius is about this executed king of England",Charles I
103704,2857,1997-01-21,Double Jeopardy!,RULERS,1000.0,This king of England was the grandfather of Elizabeth I,Henry VII
110508,4831,2005-09-19,Double Jeopardy!,SONNETS,1200.0,"This Romantic began his ""England in 1819"", ""An old, mad, blind, despised and dying king""",Shelley
111926,1331,1990-05-21,Jeopardy!,"FILE UNDER ""M""",1000.0,"It begins ""John, by the grace of God, King of England, Lord of Ireland, Duke of Normandy & Aquitaine....""",Magna Carta
115727,2585,1995-11-24,Double Jeopardy!,WORLD HISTORY,1000.0,"In 1191, Berengaria married this king of England in Limassol, Cyprus",Richard the Lionheart
118809,1905,1992-12-11,Jeopardy!,KINGS & QUEENS,300.0,In French this King of England is called Guillaume le Conquerant,William the Conqueror
119321,4915,2006-01-13,Double Jeopardy!,OLD HAMPSHIRE,200.0,"Winchester, the county seat of Hampshire, was the capital of this Western Anglo-Saxon kingdom of England",Wessex
121469,4889,2005-12-08,Double Jeopardy!,BUILDING CHARACTER,800.0,"In this Twain tale, Tom Canty is a dead ringer for the future king of England",The Prince and the Pauper
123299,4656,2004-11-29,Jeopardy!,CHAIRS,400.0,"If you want to be crowned King of England, this rock has to be in your coronation chair",the Stone of Scone
123671,5718,2009-06-17,Jeopardy!,A YEAR ENDING IN '09,1000.0,King Henry VII of England dies,1509
125257,4685,2005-01-07,Jeopardy!,III,800.0,"The first Hanoverian king born in England, he ruled for 60 years, from 1760 to 1820",George III
125822,4042,2002-03-12,Double Jeopardy!,"PAINT IT ""BLACK""",5000.0,Famous nickname of the eldest son of England's King Edward III,the Black Prince
125999,4886,2005-12-05,Double Jeopardy!,THE PROPHECIES OF NOSTRADAMUS,2000.0,"""More butcher than king in England"" is seen as this leader born in 1599, 33 years after Nostradamus died",Oliver Cromwell
127484,1325,1990-05-11,Double Jeopardy!,MEDIEVAL PEOPLE,600.0,Ethelred the Unready managed to lose most of England to King Sweyn Forkbeard of this country,Denmark
127758,6021,2010-11-15,Jeopardy!,STATE FACTS,600.0,This state was named for the King of England who reigned from 1727 to 1760,Georgia
129106,4906,2006-01-02,Double Jeopardy!,HISTORIC NICKNAMES,2000.0,"King Edward I of England, who fought William Wallace, had this nickname relating to his height","""Longshanks"""
130208,5222,2007-05-01,Jeopardy!,ROYALTY,600.0,"This ""Sun King"" sniffed, ""England is a little garden full of sour weeds""",Louis XIV
133886,4168,2002-10-16,Jeopardy!,THE ROSES,800.0,This conflict's last battle in 1485 resulted in the house of Lancaster taking power in England,Wars of the Roses
137753,4144,2002-09-12,Jeopardy!,'90s MOVIE LINES,600.0,"1999: ""Goodnight you princes of Maine, you kings of New England""",The Cider House Rules
137818,3368,1999-04-07,Jeopardy!,PEOPLE IN HISTORY,400.0,The last King William to rule England had this number after his name,IV
139253,5586,2008-12-15,Jeopardy!,PODGE-POURRI,800.0,"1189,1377 &1483 are the 3 years the only 3 kings of England with this name each ascended the throne",Richard
140080,3020,1997-10-17,Jeopardy!,WORLD HISTORY,200.0,"In 1191 this ""Lion-Hearted"" king of England captured Cyprus & Acre during the Crusades",Richard I
140941,5557,2008-11-04,Double Jeopardy!,FOREIGN-BORN LEADERS,2000.0,Dutch-born Protestant Prince William of Orange became king of England after this Catholic king was deposed & fled,James II
143216,3200,1998-06-26,Jeopardy!,BIBLICAL GUYS,300.0,Anglo-Saxon legend says his third son Japheth is an ancestor of the kings of Wessex & England,Noah
143434,1882,1992-11-10,Double Jeopardy!,ART,800.0,This Flemish artist painted a unique triple portrait of England's King Charles I around 1637,Anthony van Dyck
148050,1660,1991-11-15,Double Jeopardy!,THE VIKINGS,1000.0,"In the late 800s, this king of Wessex prevented the Vikings from conquering all of England",Alfred the Great
148383,5907,2010-04-27,Double Jeopardy!,1910,800.0,"Ending an 800-year-old monarchy, in October this country became a republic & its last king, Manuel II, fled to England",Portugal
148910,3527,1999-12-28,Double Jeopardy!,THE CRUSADES,200.0,"On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed",Richard the Lionhearted
150622,1150,1989-09-08,Double Jeopardy!,BRITISH ROYALTY,200.0,The only king of England named Stephen was the grandson of this conqueror,William the Conqueror
150640,1150,1989-09-08,Double Jeopardy!,BRITISH ROYALTY,800.0,England had this many kings named Richard,3
150880,4790,2005-06-03,Double Jeopardy!,20th CENTURY BRITISH HISTORY,1200.0,"During Stanley Baldwin's term as P.M., this King of England abdicated",King Edward VIII
151335,4289,2003-04-03,Jeopardy!,LOTTO FEVER,1000.0,"2000 saw a fight in England over running the lottery, with this Virgin king at the forefeont",Richard Branson
151746,314,1985-11-21,Jeopardy!,NURSERY RHYMES,300.0,"Colchester, England was named for this legendary Celtic king immortalized in rhyme",Old King Cole
153110,3884,2001-06-21,Final Jeopardy!,HISTORY & LITERATURE,0.0,"At the beginning of ""A Tale of Two Cities"", these 2 kings sit on the thrones of England & France",George III & Louis XVI
158120,4633,2004-10-27,Double Jeopardy!,POTENTATE POTABLES,1200.0,"This Dutch-born English king introduced gin to England as the ""pouring spirit"" in the palace at Hampton Court",William III
159374,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,1500.0,A translation of the Bible is named for this king of England & Scotland,James (I)
159378,3789,2001-02-08,Double Jeopardy!,LONG LIVE THE KING!,800.0,This king divorced the Church of England from the Catholic Church so that he could divorce the first of 6 wives,Henry VIII
162515,5427,2008-03-25,Double Jeopardy!,WORLD HISTORY,1200.0,"The Glorious Revolution of 1688 brought this Dutchman to power as king of England, Scotland, & Ireland",William of Orange
162560,5765,2009-10-09,Jeopardy!,"YORKS: OLDE, NEW & DICK",1000.0,"This Shakespeare title guy, the last Yorkist king of England, was beloved by the people of York",Richard III
165110,4255,2003-02-14,Jeopardy!,HIGH COUP,1000.0,"The 1st commoner to rule England, he became lord protector following the overthrow of King Charles I",Oliver Cromwell
165197,6272,2011-12-20,Double Jeopardy!,TOUCHED BY AN ANGEL,2000.0,"The ""Angel of Hadley"" is said to have saved a New England town during the war with this Indian ""King""",King Philip
166055,3279,1998-12-03,Jeopardy!,WORLD CUP '98,300.0,"Argentina didn't ""kick"" about this controversial tie-breaking method after using it to beat England",Penalty kicks/shootout
167337,1312,1990-04-24,Double Jeopardy!,ROYALTY,2000.0,The last Anglo-Saxon king of England was killed in this battle,Battle of Hastings (which Harold II lost)
170007,5455,2008-05-02,Double Jeopardy!,THE SWEET 1600s,1600.0,"In the 1697 Treaty of Rijswijk, the French recognized this Dutch-born man as King of England",William of Orange
170222,3159,1998-04-30,Jeopardy!,KINGS,500.0,A breed of spaniel is named for England's second king of this name,Charles II

>Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

The function above retuns the expected number of rows in the example from codecademy (152), but it is not really searching for words... it searches for the strings anywhere. For example searching for 'King' will return rows that contain 'thanking, 'making', 'taking', 'kingdom', etc.

To search for words:

In [29]:
def search_list_words(dataframe, column_name, words):
    partial_matches = pd.DataFrame()
    for word in words:
        pattern = re.compile(r"\b{word}\b".format(word = word), re.IGNORECASE)
        partial_matches[word] = dataframe[column_name].str.contains( pattern, regex = True)

    return dataframe[partial_matches.all(axis = 'columns')]

In [30]:
word_list = ['King', 'England']

king_england_words = search_list_words(jeopardy_data, 'question', word_list)
king_england_words.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118 entries, 4953 to 216021
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   show_num  118 non-null    object
 1   air_date  118 non-null    datetime64[ns]
 2   rounds    118 non-null    category
 3   category  118 non-null    object
 4   price     118 non-null    float32
 5   question  118 non-null    object
 6   answer    118 non-null    object
dtypes: category(1), datetime64[ns](1), float32(1), object(4)
memory usage: 6.3+ KB

We get 118 rows with this second patten vs. 152 rows with the first one. To check which rows are being excluded with this second pattern:

In [31]:
check_kings = pd.concat([king_england, king_england_words])
len(check_kings[~check_kings.duplicated(keep = False)])

34

In [32]:
check_kings[~check_kings.duplicated(keep = False)]

,show_num,air_date,rounds,category,price,question,answer
14445,1103,1989-05-24,Jeopardy!,FAMOUS QUOTES,300.0,"Nelson said, ""England expects that every man will do"" this & died thanking God he did his",his duty
16475,5816,2009-12-21,Jeopardy!,THEY WERE CONTEMPORARIES,200.0,There was good kinging in the 800s--Leo the Wise ruled the Byzantine Empire while England had Alfred the this,the Great
19104,3322,1999-02-02,Jeopardy!,HISTORIC NAMES,200.0,"Name of 8 kings of England since 1272, it was also General Lee's middle name",Edward
35478,6128,2011-04-13,Double Jeopardy!,AN AUTHOR IS BORN,1200.0,"Born in Bedfordshire, England in 1628, he was making ""Progress"" from the start",(John) Bunyan
36360,4786,2005-05-30,Double Jeopardy!,WHERE AM I?,400.0,"(<a href=""http://www.j-archive.com/media/2005-05-30_DJ_26.jpg"" target=""_blank"">Jimmy of the Clue Crew holds a block of cheese</a>.) I'm in this Midwest state famous for making cheddar, which actually originated in a village in England",Wisconsin
51986,4689,2005-01-13,Double Jeopardy!,19th CENTURY NOTABLES,800.0,"This associate of Marx wrote about ""the condition of the working class in England in 1844""",Engels
58112,739,1987-11-19,Final Jeopardy!,RULERS,0.0,The only name shared by four consecutive kings of England,George (I - IV)
60601,4796,2005-06-13,Double Jeopardy!,CLASSICAL MUSIC,1200.0,"He was working on his 3rd symphony when he died in England in 1934; it premiered in 1998 amid much ""pomp""",(Sir Edward) Elgar
69991,5393,2008-02-06,Double Jeopardy!,MISSING,1600.0,"Chronological lists of England's kings are missing 1649-1660, between 2 kings of this name",Charles
74611,3153,1998-04-22,Double Jeopardy!,GUYS WHO FOUND THINGS,1000.0,In 1497 this Venetian sailing for England became the first European since the Vikings to reach N. America,John Cabot
74723,5033,2006-06-28,Double Jeopardy!,PULLING RANK,1500.0,"It's the rank of the character singing <a href=""http://www.j-archive.com/media/2006-06-28_DJ_14.mp3"">here</a> <i>""I know the kings of England and I quote the fights historical / From Marathon to Waterloo, in order categorical""</i>",major general
76814,3382,1999-04-27,Final Jeopardy!,ENGLISH HISTORY,0.0,"11th century England had 2 kings with this name, one a Dane & one a Saxon",Harold
80548,3548,2000-01-26,Double Jeopardy!,AROUND THE U.S.A.,1000.0,"This nickname of Virginia came from Charles II ranking it with England, Ireland, France & Scotland","""Old Dominion"""
86353,1906,1992-12-14,Double Jeopardy!,HISTORIC EVENTS,400.0,"The taking of England by William in 1066 is known as this ""Conquest""",the Norman
86572,2583,1995-11-22,Jeopardy!,19th CENTURY AMERICA,500.0,"During an 1840 speaking tour in England, he persuaded thousands to emigrate to Nauvoo, Illinois",Brigham Young
87388,4710,2005-02-11,Jeopardy!,COMING SOON... HISTORY!,600.0,"<a href=""http://www.j-archive.com/media/2005-02-11_J_10.mp3"">In 1860s England, he would change the rules of pugilism forever... by making them! This summer, Vin Diesel is...</a>",the Marquess of Queensbury
92688,5085,2006-10-20,Double Jeopardy!,HAIL TO THE CHIEF,5000.0,"In a 1989 ceremony at Buckingham Palace, the Queen of England made him an honorary knight",Ronald Reagan
95375,3381,1999-04-26,Double Jeopardy!,MEDITERRANEAN HISTORY,200.0,"Like England's William I, Aragon's Jaime I won this nickname, in part by taking over Valencia","""The Conqueror"""
119321,4915,2006-01-13,Double Jeopardy!,OLD HAMPSHIRE,200.0,"Winchester, the county seat of Hampshire, was the capital of this Western Anglo-Saxon kingdom of England",Wessex
133886,4168,2002-10-16,Jeopardy!,THE ROSES,800.0,This conflict's last battle in 1485 resulted in the house of Lancaster taking power in England,Wars of the Roses
137753,4144,2002-09-12,Jeopardy!,'90s MOVIE LINES,600.0,"1999: ""Goodnight you princes of Maine, you kings of New England""",The Cider House Rules
139253,5586,2008-12-15,Jeopardy!,PODGE-POURRI,800.0,"1189,1377 &1483 are the 3 years the only 3 kings of England with this name each ascended the throne",Richard
143216,3200,1998-06-26,Jeopardy!,BIBLICAL GUYS,300.0,Anglo-Saxon legend says his third son Japheth is an ancestor of the kings of Wessex & England,Noah
150640,1150,1989-09-08,Double Jeopardy!,BRITISH ROYALTY,800.0,England had this many kings named Richard,3
153110,3884,2001-06-21,Final Jeopardy!,HISTORY & LITERATURE,0.0,"At the beginning of ""A Tale of Two Cities"", these 2 kings sit on the thrones of England & France",George III & Louis XVI
166055,3279,1998-12-03,Jeopardy!,WORLD CUP '98,300.0,"Argentina didn't ""kick"" about this controversial tie-breaking method after using it to beat England",Penalty kicks/shootout
178653,733,1987-11-11,Jeopardy!,RECREATION,500.0,Soccer was forbidden in 14th century England for taking practice time away from this military skill,archery
183694,6269,2011-12-15,Double Jeopardy!,TIMES PAST,2000.0,By 878 the Vikings had conquered all of England except for this southern kingdom controlled by Alfred the Great,Wessex
188559,3365,1999-04-02,Double Jeopardy!,ARCHITECTURE,400.0,This style influenced by the Romans is named for England's 4 kings between 1714 & 1830,Georgian
191329,4329,2003-05-29,Double Jeopardy!,BUSINESS & INDUSTRY,1600.0,"This Coventry, England company made its first motorcycle in 1902 & began making its own engines in 1905",Triumph
191885,2840,1996-12-27,Jeopardy!,"""E""ASY DOES IT",500.0,1 of the first 5 kings of England,"Egbert, Ethelbald. Ethelbert, Ethelred & Ethelwolf"
202011,5218,2007-04-25,Jeopardy!,EARS TO YOU!,1000.0,"In 1731 this man's ear was cut off, later sparking a war between Spain & England",Captain Jenkins
208295,4621,2004-10-11,Jeopardy!,THE VIKINGS,600.0,In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England,William the Conqueror
216789,5070,2006-09-29,Double Jeopardy!,ANCIENT HISTORY,1200.0,"This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric",Wessex

Excluded all "-king" words, but includes forms like "England's" (it is the kind of behavior that we want).   

Some of the excluded rows contain the plural of king ('kings'). If we would like to include it in our results we can change the regex pattern to:

```python
pattern = re.compile(r"\b{word}s?\b".format(word = word), re.IGNORECASE)
```

## Question 5
>Now that you can filter the dataset of question, use the price  values of each question to find the “difficulty” of certain topics. For example, what is the average value of questions that contain the word "King"?

Average price for questions in our 'Jeopardy' dataset and other basic statistics:

In [33]:
jeopardy_data['price'].describe()

count    216930.000000
mean        739.988464
std         639.822693
min           0.000000
25%         400.000000
50%         600.000000
75%        1000.000000
max       18000.000000
Name: price, dtype: float64

Average price for questions that contain the word "King":

In [34]:
search_list_words(jeopardy_data, 'question', ['King',]).price.mean()

803.2981

The average price for questions that contain the word "king" is a bit higher than that of the average question. To check the percentile that corresponds to \$803 we can use the `stats.percentileofscore` from `scipy`:

In [35]:
from scipy import stats

In [36]:
stats.percentileofscore(jeopardy_data['price'], 803.29)

71.68579726178952

~71,7% of the questions in the dataset have a price below the average price for questions that contain 'king'.

## Question 6
>Write a function that returns the count of the unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word "King", we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 3 times and was the most common answer.

In [37]:
def unique_answers_by_questions(dataframe, column_name, word_list):
    """Returns the count of unique answers after filtering a column by a list of words"""
    filtered_df = search_list_words(dataframe, column_name, word_list)
    return filtered_df.answer.value_counts()

In [38]:
pd.set_option('display.max_rows', 15)
unique_answers_by_questions(jeopardy_data, 'question', ['King', 'England'])

William the Conqueror    5
James I                  3
George III               3
Oliver Cromwell          3
Henry VIII               3
                        ..
Portugal                 1
William III              1
"the Unready"            1
King Hussein             1
Alfred the Great         1
Name: answer, Length: 85, dtype: int64

Checking one of the entries. Ex: 'Richard the Lionhearted':

In [39]:
jeopardy_data[jeopardy_data.answer == 'Richard the Lionhearted']

,show_num,air_date,rounds,category,price,question,answer
18076,3227,1998-09-22,Double Jeopardy!,WORLD HISTORY,1000.0,In 1199 this crusader king of England was mortally wounded while besieging the castle of Chalus,Richard the Lionhearted
29905,4494,2004-03-04,Jeopardy!,FLAGS,600.0,In 1198 this British king adopted a flag with 3 lions,Richard the Lionhearted
56035,5826,2010-01-04,Jeopardy!,BRITISH HISTORY DATEBOOK,800.0,"December 12, 1189: This monarch leaves England for the Crusades",Richard the Lionhearted
56238,5600,2009-01-02,Double Jeopardy!,"OPERA, LIKE IT OR NOT",800.0,"Andre Gretry, ""the Moliere of music"", composed a 1784 opera about this crusading king",Richard the Lionhearted
64722,2541,1995-09-25,Double Jeopardy!,FICTIONAL CHARACTERS,200.0,"In ""Ivanhoe"" Wilfred has been disinherited for following this crusading king",Richard the Lionhearted
80845,5713,2009-06-10,Double Jeopardy!,THE DARK KNIGHT,1200.0,"In ""Ivanhoe"", this crusader king disguises himself as the Black Knight to aid the hero",Richard the Lionhearted
90462,4959,2006-03-16,Jeopardy!,KING JOHN,800.0,"John supported this dashing brother & future king in his rebellion against their dad, Henry II",Richard the Lionhearted
127988,3105,1998-02-13,Jeopardy!,CAT PEOPLE,200.0,It's the name of King John's crusading older brother,Richard the Lionhearted
148910,3527,1999-12-28,Double Jeopardy!,THE CRUSADES,200.0,"On his way back from failing to take Jerusalem in 1192, this king of England was captured & later ransomed",Richard the Lionhearted
152249,5415,2008-03-07,Double Jeopardy!,THE LION,400.0,Eleanor of Aquitaine was his mother & Berengaria was his wife,Richard the Lionhearted
178590,3718,2000-11-01,Jeopardy!,HISTORY,500.0,He succeeded Henry II as king of England in 1189 & was himself succeeded by John in 1199,Richard the Lionhearted
180958,2870,1997-02-07,Jeopardy!,THE CRUSADES,400.0,"Leading the third Crusade, this English king captured Cyprus",Richard the Lionhearted
195239,1296,1990-04-02,Jeopardy!,FICTIONAL CHARACTERS,200.0,"In ""Ivanhoe"" the black knight who rescues Wilfred & Rowena is really this king in disguise",Richard the Lionhearted

There are three questions with "King" and "England" among the results (13 in total for the whole dataset).

## Question 7
>Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven’t even started looking at yet. Here are some ideas on ways to continue working with this data:
>
>    + Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?

In [40]:
jeopardy_data.air_date.describe(datetime_is_numeric = True)

count                           216930
mean     2003-03-08 00:06:26.734891648
min                1984-09-10 00:00:00
25%                1999-03-11 00:00:00
50%                2004-02-27 00:00:00
75%                2008-02-06 00:00:00
max                2012-01-27 00:00:00
Name: air_date, dtype: object

The dataset contains shows from 1984 to 2012.

In [41]:
jeopardy_90s = jeopardy_data[(jeopardy_data.air_date >= '1990-01-01') & (jeopardy_data.air_date < '2000-01-01')]
jeopardy_2000s = jeopardy_data[(jeopardy_data.air_date >= '2000-01-01') & (jeopardy_data.air_date < '2010-01-01')]

In [42]:
jeopardy_90s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56745 entries, 358 to 216628
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   show_num  56745 non-null  object
 1   air_date  56745 non-null  datetime64[ns]
 2   rounds    56745 non-null  category
 3   category  56745 non-null  object
 4   price     56745 non-null  float32
 5   question  56745 non-null  object
 6   answer    56745 non-null  object
dtypes: category(1), datetime64[ns](1), float32(1), object(4)
memory usage: 2.9+ MB

In [43]:
jeopardy_2000s.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123852 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   show_num  123852 non-null  object
 1   air_date  123852 non-null  datetime64[ns]
 2   rounds    123852 non-null  category
 3   category  123852 non-null  object
 4   price     123852 non-null  float32
 5   question  123852 non-null  object
 6   answer    123852 non-null  object
dtypes: category(1), datetime64[ns](1), float32(1), object(4)
memory usage: 6.3+ MB

There are nearly twice entries (questions) for the 2000s than for the 90s, it would help to add percentages too.

In [44]:
computer_all = search_list_words(jeopardy_data, 'question', ['Computer'])
computer_90s = search_list_words(jeopardy_90s, 'question', ['Computer'])
computer_2000s = search_list_words(jeopardy_2000s, 'question', ['Computer'])

print("Number of questions in the complete dataset: {num} ({percent:.2g}%)".format(
    num = len(computer_all),
    percent = len(computer_all) / len(jeopardy_data)
))

print("Number of questions in the 90s: {num} ({percent:.2g}%)".format(
    num = len(computer_90s),
    percent = len(computer_90s) / len(jeopardy_90s)
))

print("Number of questions in the 200s: {num} ({percent:.2g}%)".format(
    num = len(computer_2000s),
    percent = len(computer_2000s) / len(jeopardy_2000s)
))

Number of questions in the complete dataset: 362 (0.0017%)
Number of questions in the 90s: 79 (0.0014%)
Number of questions in the 200s: 227 (0.0018%)

## References
* [Regular Expressions Documentation - Groups](https://docs.python.org/3/library/re.html#index-17)

* [Pandas documentation - pandas.Series.replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.replace.html?highlight=replace#pandas.Series.replace)

* [Pandas documentation - convert to categorical dtype](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html?highlight=string#series-creation)

* [pandas.Series.str.contains](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html?highlight=str%20contains#pandas.Series.str.contains): Test if pattern or regex is contained within a string of a Series or Index.

* [Create empty dataframe in Pandas](https://www.geeksforgeeks.org/create-empty-dataframe-in-pandas/): How to create and empty dataFrame in pandas

* [Stackoverflow: Pandas DataFrame: How to select rows on multiple conditions?](https://stackoverflow.com/a/45591012/15621830) Using pd.dataFrame.all() to filter rows by booleans.

* [pandas.DataFrame.all](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.all.html?highlight=all#pandas.DataFrame.all): Return whether all elements are True, potentially over an axis.

* [How to Show All Columns, Rows and Values in Pandas](https://blog.softhints.com/pandas-display-all-columns-and-show-more-rows/)

* [How to search for words with regex](https://stackoverflow.com/questions/15863066/python-regular-expression-match-whole-word): Following the first answer, that uses `r'\bword\b'` (`\b` is the "word boundary" character class in the regex module, `re`), but compiling the pattern as in [this other answer](https://stackoverflow.com/a/52304664/15621830).

* [pandas.DataFrame.duplicated](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html?highlight=duplicated#pandas.DataFrame.duplicated): How to mark all duplicates as True with `keep = False` (not the first or last occurrence, but both).

* [Stackoverflow: what's the inverse of the quantile function on a pandas Series?](https://stackoverflow.com/a/33782239)

* [scipy.stats.percentileofscore](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.percentileofscore.html): Compute the percentile rank of a score relative to a list of scores.